/* RESET BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABILI */
:root {
    --bgcolor: #eeede8;
    --maintxtcolor: #000;
    --widgetcolor: #3a5a40;
    --widgettxtcolor: #bccba5;
    --visitedlinkcolor: #0fabff;
    --defaultvisitedlinkcolor: #b40b99;
}

html, body {
    font-size: 100%;
    font-family: "Atkinson Hyperlegible", Roboto, sans-serif;
    line-height: 1.5em;
}

body {
    background-color: var(--bgcolor);
    color: var(--maintxtcolor);
    max-width: 1200px;
    margin: auto;
}

a:link {
    color: var(--maintxtcolor);
}

a:visited {
    color: var(--defaultvisitedlinkcolor);
}

/* HEADER */
header {
    padding: 0em 1em;
    margin: 1em auto;
    
}

/* MENU */
#menu {
    background-color: var(--widgetcolor);
    color: var(--bgcolor);
    border-radius: 30px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    font-weight: bold;
}

#menu h1 {
    width: 60px;
    height: 60px;
    min-width: 60px; /* Dimensione fissa perché non vogliamo che rimpicciolisca */
    background-image: url("./img/logo_chiaro.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    text-indent: -9999em;
    overflow: hidden;
}

#menu ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 2em;
    gap: 3em;
    list-style: none;
}

#menu ul li {
    display: block;
}

#menu a:link {
    color: var(--bgcolor);
}

#menu a:visited {
    color: var(--visitedlinkcolor);
}

#menu .stile-bottone-2 {
    color: var(--bgcolor);
    background-color: var(--widgetcolor);
    border-radius: 30px;
    padding: 0.6rem 1.2rem;
    border: 3px solid var(--widgettxtcolor);
    transition: all 0.3s;
}

#menu .stile-bottone-2:visited {
    color: var(--visitedlinkcolor);
}

#menu .stile-bottone-2:hover {
    transform: scale(1.15);
}


button, .stile-bottone-1 {
    font-size: 1em;
    border-radius: 30px;
    padding: 0.6rem 1.2rem;
    background-color: var(--widgetcolor);
    color: var(--bgcolor);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    border: 3px solid var(--widgetcolor);
}

button:hover, .stile-bottone-1:hover {
    color: var(--widgetcolor);
    background-color: var(--widgettxtcolor);
}

.elimina, .elimina:hover {
    color: #f00;
    background-color:var(--bgcolor);
}

/* BREADCRUMB */

#breadcrumb {
    display: inline-block;
    white-space: nowrap;
    background: var(--widgetcolor);
    color: var(--bgcolor);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
}

#breadcrumb a:link {
    color: var(--bgcolor);
}

#breadcrumb a:visited {
    color: var(--visitedlinkcolor);
}

main {
    padding: 2rem;
    text-align: center;
}

main h1, h2, h3 {
    margin-bottom: 0.5em;
}

main h1 {
    font-size: 3em;
}

.secondo-contenuto {
    background-color: var(--widgetcolor);
    color: var(--bgcolor);
    padding: 1em 2em 2em 2em;
}

.secondo-contenuto h2, .terzo-contenuto h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.secondo-contenuto ol {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0;
    margin: 0;
}

.secondo-contenuto ol li {
    background-color: var(--widgettxtcolor);
    color: var(--maintxtcolor);
    list-style: none;
    padding: 1em;
    flex: 1 1 300px;
    border-radius: 30px;
}

.link-to {
    font-size: 1.3em;
    font-weight: bold;
}

.terzo-contenuto {
    margin-top: 3em;
    padding: 1em 2em 2em 2em;
}

.terzo-contenuto dl {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 2em 0;
}

.terzo-contenuto dl div {
    flex: 1 1 300px;
    padding: 1em;
}

.terzo-contenuto dt {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.terzo-contenuto dd {
    max-width: 80%;
    margin: auto;
}

.piu-info {
    max-width: 50%;
    margin: auto;
}

.piu-info p:first-child {
    font-weight: bold;
    font-size: 1.2em;
    margin: 1em auto;
}

footer {
    color: var(--bgcolor);
    background-color: var(--widgetcolor);
    padding: 2em 2em 2em 2em;
    text-align: center;
}

/*FORM*/

form {
    border: 3px solid var(--widgetcolor);
    border-radius: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    margin-top: 1em;
    max-width: 600px;
    width: 90%;
}

form label {
    display: block;
    text-align: left;
    width: 50%;
    margin: 0.5em auto;
    font-weight: bold;
}


input[type=text], input[type=password], input[type="email"]{
    display: block;
    margin: 0.5em auto;
    margin-bottom: 2.5em;
    width: 50%;
    border: 2px solid var(--widgetcolor);
    border-radius: 15px;
    padding: 0.8em 1em;
}

.info-form{
    width: 50%;
    margin: -1.6em auto 1.5em auto; 
    text-align: left;
    font-size: 0.9em;
    line-height: 1.4em;
}

/* FOOTER */
.wave {
    width: 100%;
    display: block;      
    margin-bottom: -5px;
}
