*{
    padding: 0em;
    margin: 0em;
}

html, body{
    font-size: 100%;
    font-family: "Atkinson Hyperlegible", Roboto, sans-serif;
    line-height: 1.5em;
}

:root{
    --bgcolor: #eeede8;
    --maintxtcolor: #000;
    --widgetcolor: #3a5a40;
    --widgettxtcolor: #bccba5;
}

header {
    position: fixed;
    top: 0;
}

.menu{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    -webkit-border-bottom-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: var(--widgetcolor);
    color: var(--widgettxtcolor);
    padding: 1.7em 1.5em;
}

.menu_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_link{

}

.logo{
    height: 4rem;
    width: auto;
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
    column-gap: 2em;
}

.menu ul li{

}

.menu ul li a {
    color: var(--widgettxtcolor);
    padding: 14px 16px;
    text-decoration: none;
}

.menu ul li a:hover{
    background-color: #bccba5;
}

.button{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 1em 1em 1em 1em;
    background-color: var(--widgettxtcolor);
    color: var(--widgetcolor);
    border: none;
}

#breadcrumb {
    position: fixed;
    top: 8em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--widgetcolor);
    color: var(--widgettxtcolor);
    border-radius: 10px;
    padding: 0.5rem 0.9rem;
}

main{
    margin-top: 9rem;
    padding: 2rem;
}

/* CONTAINER GENERICO */

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}

/* WIDGET = tutto quello che rappresenta un parte generica nello schermo */

.widget_type_2{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 1em 1em 1em 1em;
    background: var(--widgetcolor);
    color: var(--widgettxtcolor);
}

/* Parte per lo switch light-dark mode */

.mode_switch_wrapper{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-left: 1rem;
}

.mode_switch{
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.mode_switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

