/* RESET BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABILI */
:root {
    --bgcolor: #eeede8;
    --maintxtcolor: #000;
    --widgetcolor: #3a5a40;
    --widgettxtcolor: #bccba5;
    --visitedlinkcolor: #0fabff;
}

html, body {
    font-size: 100%;
    font-family: "Atkinson Hyperlegible", Roboto, sans-serif;
    line-height: 1.5em;
}

body {
    background-color: var(--bgcolor);
    color: var(--maintxtcolor);
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
header {
    padding: 0em 1em;
    margin: 1em;
}

/* MENU */
#menu {
    background-color: var(--widgetcolor);
    color: var(--bgcolor);
    border-radius: 30px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    font-weight: bold;
}

#menu h1 {
    width: 150px;
    height: 60px;
    background-image: url("./img/logoChiaro.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    text-indent: -9999em;
    overflow: hidden;
}

#menu ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 2em;
    gap: 3em;
    list-style: none;
}

#menu ul li {
    display: block;
}

#menu a:link {
    color: var(--bgcolor);
}

#menu a:visited {
    color: var(--visitedlinkcolor);
}

button {
    border: none;
    font-size: 1em;
    border-radius: 30px;
    padding: 0.6rem 1.2rem;
    background-color: var(--bgcolor);
    color: var(--widgetcolor);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: var(--widgettxtcolor);
    color: var(--widgetcolor);
}

/* BREADCRUMB */

#breadcrumb {
    display: inline-block;
    white-space: nowrap;
    background: var(--widgetcolor);
    color: var(--bgcolor);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
}

main {
    padding: 2rem;
}

main h1, h2, h3{
    text-align: center;
    margin-bottom: 0.5em;
}

main h1 {
    font-size: 3em;
}

.come-funziona {
    margin-top: 3em;
    background-color: var(--widgetcolor);
    color: var(--bgcolor);
}

.come-funziona h2 {
    font-size: 2em;
}

.come-funziona ol {
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
}

.come-funziona ol li {
    background-color: var(--widgettxtcolor);
    color: var(--maintxtcolor);
    list-style: none;
    padding: 1em;
    flex: 1;
    border-radius: 30px;
}
